
body {
	background-color: #0053d40a;
}

.heading {
	width: 100%;
    text-align: center;
    font-size: 45px;
    display: block;
}

.subtitle {
	text-align: center;
}


.message_test button {
	width : 100%;
}

button {
    background-color: deepskyblue;
    height: 35px;
    border-radius: 5px;
    border-style: solid;
    border-color: #1e3d4687;
    margin: 3px;
    border-width: 1px;
    width: 100%;
}

input {

    width: 100%;
    border-radius: 3px;
    border-style: solid;

}

/*==========================================================
                        FOOTER
==========================================================*/

.footer {
    background-color:  #1192c2;
    display: block;
    transition: all 0.5s linear;
    position: fixed;        
    bottom:0;
    left:0;
    width : 100%;
    height: 25%;
}

#pep_says {
    width : 100%;
    text-align: center;
    font-size: 30px;
}

/*==========================================================
						INDEX
==========================================================*/

.message_test {
	margin-left: 30%;
    margin-right: 30%;
    margin-top: 16%;
    margin-bottom: 15%; 
}

.message_test button {
	width : 100%;
}

.navigation {
	margin-left: 10%;
	margin-right: 10%; 
}
.navigation button {
	width: 48%;
	height: 59px;
}

#display_area {
	text-align: center;
}


/*==========================================================
						CONTENT PAGE
==========================================================*/

.message_test {
	margin-left: 30%;
    margin-right: 30%;
    margin-top: 16%;
    margin-bottom: 15%; 
}

.buttons {
	margin: 10%;
	padding-top: 10%;
	padding-left: 20%;
	padding-right: 20%;
}

/*==========================================================
						arrival
==========================================================*/

.container {
    position: relative;
    width: 40%;
    height: 100%;
    margin-left: 30%;
    transition: 0.45s padding ease-out;
    padding-top: 10%;
}

.name {
    position: relative;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    color: white;
}

.visit {
    position: relative;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    background-color: white;
    color: white;
}

form input{
    height: 63px;
    width: 100%;
    border-radius: 5px;
    font-size: 26pt;
    text-align: center;
    opacity: 0.75;
}

/* The search field */
#myInput {
    box-sizing: border-box;
    background-image: url(searchicon.png);
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 96%;
    border-radius: 10px;
    padding-left: 38px;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  font-size:5px
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/*==========================================================
						arrival
==========================================================*/


.questionair {
    position: relative;
	width: 100%;
}

.questionair {

    position: relative;
    padding-left: 25%;
    width: 50%;

}	

.heading {
	width: 70%;
	padding-left: 15%;
	text-align: center;
	padding-bottom: 25px;
}

td {
	padding-bottom: 15px;
}

.sub {
	width: 40%;
	margin-left: 30%;
	padding-top: 10px;
}

/*==========================================================
						arrival confirmed
==========================================================*/


.message {
	width : 50%;
	padding-left : 25%;
	padding-right: 25%;
	
	
}
.message-box {
	background-color: #0000ff4f;
    border-radius: 5px;
    margin-top: 20%;
    padding-bottom: 2%;
    padding-top: 3%;
    text-align: center;
}